body{
    margin: 0px;
    padding: 0px;
}
#nav{
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    width:auto;
    height: 61px;
    padding:5px;
     padding-right: 15px;
    display:  flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    top: 0px;
    right: 0px;
    box-shadow:  0.01em 0 0.4em .05em #afb1b3;
    left: 0px;
    font-size:larger;
    z-index: 1;
}
#menu{
     background-color: white;
}
.height{
    width:auto;
    padding-top: 3px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 27px;
     border: 1px solid rgb(0,149,135);
    background-color: rgb(1, 133, 119);
    
}
.height:hover{
    background-color: rgb(1, 185, 167);
}
#logo{
    margin-top: auto;
    margin-bottom: auto;
}
.h-37{
    height: 27px;
    margin-top: auto;
    margin-bottom: auto;
     padding-top: 8px;
}
.border{
    border: 1px solid rgb(214, 213, 213);
}
.hh{
    border: 2px solid;
}
#menu1{
    display:none;
    position: fixed;
    top: 59px;
    right: 0px;
    border: 1px solid rgb(203, 204, 203) ;
    
    width: 20%;
    height:90%;
     padding-left: 19px;
     padding-right: 20px;
     padding-top: 10px;

     z-index: 2;
      background-color: white;

}
#menu1>p{
     margin-top: 5px;

}
#menu1>p:hover{
     color: blue;
}
#menu{
    font-size: medium;
}
#chat{
      height: 7%;
      width: 9%;
      border-radius: 999rem;
      border: 2px solid;
      position: fixed;
      right: 50px;
      bottom: 50px;
      background-color: rgb(59, 55, 55);
      z-index: 1;
      text-align: center;
   }
#chat>p{ 
       margin-top: 7%;
       margin-left: auto;
       margin-right: auto;
       font-size:x-large;
       color: white;
       font-weight:bold;
      }
.popup {
    display: none;
    position: absolute;
    top: 8%;
    border-radius: 6px;
    right: 10%;
    width: 250px;
     height: auto;
    background-color: rgb(35, 38, 39);
    color: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
    z-index: 2;
  }
a{
    text-decoration: none;
}
 #butto{
    /* border:  10px solid blue; */
       height: 70%;
       font-size: medium;
       border-radius: 6px;
       border: none;
 }
 #login{
    display: none;
    z-index: 2;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(127, 127, 127, 0.479);
 }
 .container-column {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    
    height: 70%;
     /* background-color: mediumspringgreen; */
  }
.input-container {
    margin-bottom: 10px; /* Adjust spacing between elements */
  }
.additional-inputs {
    display: none;
    margin-left: -8px;
    /* border:1px solid red; */
    width: 70%;
    height: 10rem;
    margin-bottom: 10px;
  }
.password-container {
    display: none; /* Initially hide the password field */
    margin-bottom: 10px;
    /* border: 1px solid; */
    width: 70%;
    height:  30%;
     padding-bottom: 0px;
     
  }
.inpute{
    height:11%;
    width: 70%;
     /* background-color: blue; */
    border-radius: 6px;
    border: 1px solid rgba(177, 176, 176, 0.849);
  }
.phone-no{
    width: 60%;
    height: 11%;
  }
#checkButton{
    width: 70%;
    height: 12%;
    background-color: rgb(253,55,82);
    color: white;
     border: 1px solid rgb(253,55,82);
     border-radius: 6px;
  }
#checkButton:hover{
    background-color:rgba(253, 55, 81, 0.877) ;
}
.inpute1{
    margin-top:3%;
     margin-bottom: 3%;
    height:22%;
    width: 100%;
    border-radius: 6px;
    border: 1px solid rgba(177, 176, 176, 0.849);
}
.inpute2{
     width: 100%;
     border-radius: 6px;
     border: 1px solid rgba(177, 176, 176, 0.849);
     height: 40%;
      margin-top: 5%;
      margin-bottom: 0px;
}
#boxn1{
    
    margin: auto;
    margin-top: 80px;
    /* border: 2px solid; */
     background-color: white;
    width: 670px;
    height: 457px;
    display: flex;
}
.l1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 266px;
   background-color: rgb(170, 168, 168);
  /* border: 1px solid red; */
   padding-left: 30px;
}
.l1>div{ padding: 0px;
     display: flex;
     flex-direction: column;
}
.l1>div>p{
    margin: 0px;
    padding:4px
}
.l1>img{
     height: 100px;
     width: 100px;
}
.l2{
    width: 402px;
    /* border: 1px solid;; */
}
#close{
    width: fit-content;
    position: relative;
    top:3%;
    left:88%;
     font-size: x-large;
     font-weight: 700;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: 1px solid; */
    margin: 0px;
}
#close:hover{
    cursor:pointer;
}
#right{
     display: flex;
     width: 600px;
     align-items: center;
     justify-content: space-between;
    align-items: center;
    /* padding-top: 0px;
    padding-bottom: 0px; */
    padding-right: 30px;
    /* border: 1px solid; */
     padding-left: 10px;
}
#right1{
    display: flex;
    flex-wrap: wrap;
     gap: 20px;
    
}
.l-border{
    border-left:  1px solid;

}
.height-27{
    height: 27px;
    
}
#logout{
    display: none;
    position: absolute;
    flex-direction: column;
    top:100%;
    right:2%;
    padding-left: 10px;
    padding-right: 10px;
    width: 15%;
    height: auto;
    border: 1px solid rgb(159, 158, 158);
    box-shadow:  0.01em 0.5em 0.4em .05em #afb1b3;
}
#logout>p{
     margin-left: 15px;
}
#logout>p:hover{
    color: rgb(118, 202, 202);
}

@media(max-width:990px){
    #right{
        display: none;
    }
    #nav{
        display: flex;
        justify-content: center;
    }
    #logo{
         justify-content: center;
    }
    #container{
         margin-left: auto;
         margin-right: auto;
    }
}
@media(max-width:2000px){
    #container{
        max-width:900px;
        /* margin-left: auto;
        margin-right: auto; */
   }
   /* #nav{
     max-width:1320px;
     margin-left: auto;
     margin-right: auto;
    display: flex;
    justify-content: center;
} */

}

