body{
    margin: 0px;
    padding: 0px;
}
#nav{
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    width:auto;
    height: 61px;
    padding: 5px;
    border: 1px solid;
    display:  flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    font-size:larger;
    z-index: 1;
}
.navw1{
   width: 170px;
   height: 45px;
   margin-top: auto;
   margin-bottom: auto;
   

}
#menu{
     background-color: white;
}
#navr{
   display: flex;
   flex-wrap: wrap;
   border:  1px solid blue;
   justify-content: space-between;
   height: 61px;
   width: 45vw;
}
.height{
    width:auto;
    padding-top: 3px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 28px;
    background-color: green;
}
#logo{
    margin-top: auto;
    margin-bottom: auto;
}
.left{
   margin-top: auto;
   margin-bottom: auto;
   margin-left: 15px;
   padding-left: 10px;
   padding-right: 10px;
   border-left: 1px solid rgb(126, 126, 126);
   align-items: center;
}    
.h-37{
    height: 37px;
    margin-top: auto;
    margin-bottom: auto;
     padding-top: 8px;
}
.d-flex{
    display: flex;
   /* justify-content: center;
   align-content: center; */
   

}
.border{
    border: 1px solid rgb(214, 213, 213);
}
#sup{
    border: 1px solid red;
}
.sup1{
   border: 1px solid red;
}
.hh{
    border: 2px solid;
}
#menu1{
    position: fixed;
    top: 59px;
    right: 0px;
    border: 1px solid green ;
    width: 20%;
    height:100%;
     padding-left: 2px;
     padding-right: 2px;
     z-index: 2;
      background-color: white;

}
#menu1>p{
     margin-top: 5px;

}
#chat{
     height: 10%;
     width: 10%;
      border-radius: 999rem;
      border: 2px solid;
      position: fixed;
      right: 50px;
      bottom: 50px;
       background-color: rgb(59, 55, 55);
       z-index: 1;
     text-align: center;
}
#chat>p{ 
     margin-top: 15%;
     margin-left: auto;
     margin-right: auto;
     font-size:x-large;
     color: white;
     font-weight:bold;
}

.popup {
    display: none;
    position: absolute;
    top: 20%;
    left: 0;
    width: 200px;
    background-color: lightblue;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
a{
    text-decoration: none;
}