.container-kunwer {
    display: flex;
    /* align-items: center; */
    position: relative;
    /* left: 660px; */
    background-color: rgb(254, 240, 218);
    width: 300px;
    padding: 20px;
    gap: 5px;
    margin:auto;
    }

.item {
    display: flex;
    align-items: center;
     /* border: 2px solid purple; */
}
.divider {
    margin: 0;
}

h1 {
    text-align: center;
    color: rgb(120, 118, 127);
}

.box {
    display: flex;
    justify-content: center;
    margin: auto;
     /* border: 4px solid rgb(255, 196, 0); */
}

#buy {
    padding: 15px;
    border: 1px solid;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
}

#rent {
    padding: 15px;
    border: 1px solid;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
}

#commercial {
    padding: 15px;
    border: 1px solid;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
}

#buy:hover {
    color: red;
}

#rent:hover {
    color: red;
}

#commercial:hover {
    color: red;
}

.search-section {
    /* position: relative; */
    /* left: 400px; */ 
    /* padding-left:400px; */
    display: flex;
    justify-content: center;
  
}

#city-select {
    padding: 10px;
    color: rgb(120, 118, 127);
    margin: -5px;
    width: 150px;
    /* border: 1px solid; */
   
}

#site-search {
    padding: 10px;
    width: 500px;
}

#btn1 {
    position: relative;
    left: -3px;
    padding: 11px;
    background-color: rgb(227, 50, 74);
    width: 150px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 15px;
}

#btn1:hover {
    background-color: red;
}

.check-boxsection {

   
    padding: 10px;
    /* border: 1px solid; */
    
  
     margin: auto;
    display: flex;
    justify-content: center;

}

#BHK {
    padding: 8px;
    color: rgb(120, 118, 127);
}

#property {
    
    padding: 8px;
    color: rgb(120, 118, 127);
}

.main {
    margin-top: 20px;
    /* border: 2px solid greenyellow; */
}

.owner-section h4 {
    text-align: center;
    margin-top: 60px;
    /* border:4px solid ; */

}
#btn3 {
    padding: 12px;
    background-color: rgb(0, 149, 135);
    color: white;
    border-radius: 4px;
    position: relative;
    left: 42.5vw; 
    border: none;
    cursor: pointer;
    width: 15vw;
    /* margin: auto; */

}

#btn3:hover {
    background-color: rgb(2, 67, 2);
}

.eligible {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(56, 77, 108);
    margin-top: 25px;
}

.eligible p {
    color: white;
    font-weight: 100;
}

#btn4 {
    background-color: white;
    color: black;
    border: none;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    position: relative;
    left: 15px;
    cursor: pointer;
}

#broker {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

#home {
    display: flex;
    justify-content: center;
    /* margin-top: 60px; */

}
/* 
.active {
    color: red;
    text-decoration: underline;
} */

#kunwar_container {
    width: 100vw;
    /* margin-top: 50px; */
     /* padding-top:50px; */
    /* border: 1px solid; */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50px;
}
#kunwar_buy{
    display: block;
}
#rent1{
    display: none;
}
#commercial1{
    display: none;
}

@media(min-width:2700px){
    #container{
    
    }   
     #kunwar_container{
        max-width: 1620px;
        margin-left: auto;
        margin-right: auto;
       align-items: center;
    }
    #nav{
        max-width: 1620px;
        margin-left: auto;
        margin-right: auto;
        align-self:center;
    }
    .navya1_container{
        max-width: 1620px;
        margin: auto;
    }
    #main_container{
        max-width: 1620px;
        margin: auto;
    }
    .container_Ashwin{
        max-width: 1620px;
        margin: auto;
    }
}
