#pay-for-rent-container {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-image: url("https://assets.nobroker.in/nb-new/public/RentoPay/landing_features_bgr.png");
}

h2 {
    color: white;
}

#pay-for-rent {
     /* border: 1px solid red; */
    padding-left: 80px;
}

.card {
     /* border: 1px solid red; */
    color: white;
    display: flex;
    width: 400px;
    height: 100px;
    gap: 10px;
    padding-top: 10px;
    margin-top: 20px;
}

.card_img {
    color: white;
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 5%;
    margin: 5px;
}

.card-heading {

    color: white;
    margin-top: 20px;
    margin-bottom: 0px;
}

.card-title,
.card-link {
    font-size: 10px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

input,select,option,button{
   margin-top: 5px;
   margin-bottom: 9px;
    width: 350px;
    height: 30px;
}
button{
    border:none;
    border-radius: 2px ;
}
.switch{

   padding: 10px;
    background-color: #efecec;
}
#pay-card{
    width: 350px;
    height: 400px;
    padding: 20px;
    background-color: whitesmoke;
}