.head_list {
    display: flex;
    gap: 20px;
    width: 100vw;
    height: 70px;
    background-color: #f8f8f8;
    justify-content: center;
    text-align: center;

}

.head {
    width: 130px;
    flex-wrap: wrap;

}

.head:hover {

    margin-top: 0px;
    width: 150px;
    height: 50px;
    ;
    padding-top: 20px;
    background-color: #969696;
    display: flex;
    text-align: center;
    justify-content: center;

}

.all-city {
    display: grid;
    grid-template-columns: 230px 230px 230px 230px 230px;
    gap: 10px
}
.headinglist{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    list-style: none;
}